<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <app-tp2-ligne></app-tp2-ligne>
      </tr>
      <tr>
        <app-tp2-ligne id='1' username="David" email="mail@fze"></app-tp2-ligne>
      </tr>
      <tr>
        <app-tp2-ligne id='2' username='Lou-John' email='loujohn@gmail.com'></app-tp2-ligne>
      </tr>
      <tr>
        <app-tp2-ligne></app-tp2-ligne>
      </tr>
    </tbody>
  </table>

  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
  