<!-- Template de carte -->
<app-card 
titre ='IPI Lyon'
sousTitre='Dev angular'
description='Cours epsilum epset hollow knight supremacy'
lien= 'https://paint-tempo-501.notion.site/Installer-Bootstrap-dans-son-projet-7194aa958b3e4cd992bf68653ef4db2e'
texteLien='Lien vers cours'>
</app-card>

<!-- Tableau bootstrap (cassé visuellement mais fonctionnel)-->
<app-tp2-tableau></app-tp2-tableau>

<!-- Bouton compteur / incrémenteur-->
<div>
  <app-tp3-compteur (increment)="incrementCounter()"></app-tp3-compteur>
  <p>Counter Value: {{ counterValue }}</p>
</div>

<!-- Carte animal / cri-->
<app-tp4-animal-card photo="https://lemagdesanimaux.ouest-france.fr/images/dossiers/2020-10/lucane-cerf-volant-094135.jpg" nom="lucane cerf-volant" cri = "SHRIEEEEEEEEEK"></app-tp4-animal-card>
<app-tp4-animal-card photo="https://media.istockphoto.com/id/503489376/fr/photo/deux-prises-dung-scarab%C3%A9es.jpg?s=612x612&w=0&k=20&c=LIPW5uNpyLpaZcnwNBcjHgNE-H9pySlLahd99AgtDjI=" nom="bousier" cri = "tchii-tchii"></app-tp4-animal-card>

<!-- Tableau / Action / Card-->
